package server

import (
	"github.com/gofiber/fiber/v2"
	"{{.APIName}}/internal/storage"
)

type FiberServer struct {
	*fiber.App
	db database.Service
}

func New() *FiberServer {
	server := &FiberServer{
		App: fiber.New(fiber.Config{
		ServerHeader:            "{{.APIName}}",
		AppName:                 "{{.APIName}}",
	}),
		db:  database.New(),
	}

	return server
}
