package service

import (
	"context"

	"{{ .Name }}/internal/entities/foo"
)

type FooService interface {
	Create(ctx context.Context, params foo.CreateFooParams) (foo.Foo, error)
	Delete(ctx context.Context, id int) error
	Update(ctx context.Context, id int, params foo.UpdateFooParams) (foo.Foo, error)
	GetById(ctx context.Context, id int) (foo.Foo, error)
	GetAll(ctx context.Context, limit int, cursor int) ([]foo.Foo, error)
}

type HealthService interface {
	HealthCheck(ctx context.Context) error
}

type Service struct {
	FooService FooService
	HealthService  HealthService
}