package shared

import "context"

const (
	FooBearerTokenKey    = "fbt"
)

func GetFooBearerToken(ctx context.Context) string {
	if ctxValue, ok := ctx.Value(FooBearerTokenKey).(string); ok {
		return ctxValue
	}

	return ""
}